.burgermenu {
    width: 84px;
    height: 8.3vh;
    border-radius: 2px;
    cursor: pointer;
    background-color: #2231AA;

}
.burger {
    width: 84px;
    height: 8.3vh;
}
.burgermenu svg {
    stroke: #fff;
}