.active {
    background-color: #fff;
    color: #313037;
    border: none;
    width: 25%;
    border-bottom: 2px solid #313037;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.tabs {
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 496px;
    margin-bottom: 64px;
}
.tab {
    width: 25%;
    background-color: #fff;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.tab:hover {
    color: #2231AA;
    cursor: pointer;
}